@using Front_To_Back_.Areas.AdminPanel.ViewModels.Products
@model UpdateProductVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">Category</label>
                        <select class="form-control" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                            <option selected disabled>Choose Category</option>
                        </select>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="TagIds">Tag</label>
                        <select asp-for="TagIds" class="form-control" asp-items="new SelectList(Model.Tags, nameof(Tag.Id), nameof(Tag.Name))">
                        </select>
                        <span asp-validation-for="TagIds" class="text-danger"></span>
                    </div>






                    <div class="form-group">
                        <label for="SKU">SKU</label>
                        <input asp-for="SKU" class="form-control" placeholder="SKU">
                        <span asp-validation-for="SKU" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button asp-action="index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
